[submodule "WinformsValidation"]
	path = WinformsValidation
	url = https://github.com/vlopezjr/WinformsValidation
[submodule "MemoMeister"]
	path = MemoMeister
	url = https://github.com/vlopezjr/MemoMeister
[submodule "Case-Parts-APIs"]
	path = Case-Parts-APIs
	url = https://github.com/vlopezjr/Case-Parts-APIs
[submodule "CPUserControls"]
	path = CPUserControls
	url = https://github.com/vlopezjr/CPUserControls
