<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!--<connectionStrings>
    <add name="CustomerContext" connectionString="server=SQL18DEV;database=acuity_app;User Id=sa; Password=C3l5ius;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <add value="Los Angeles" key="MPKScheduleId" />
    <add value="36" key="MPKScheduleKey" />
    <add value="0.0950" key="MPKTaxRate" />
    <add value="1715 + WA Base" key="SEAScheduleId" />
    <add value="293" key="SEAScheduleKey" />
    <add value="0.100" key="SEATaxRate" />
    <add value="Missouri" key="STLScheduleId" />
    <add value="170" key="STLScheduleKey" />
    <add value="0.08863" key="STLTaxRate " />
    <add value="Interstate" key="ISTATEScheduleId" />
    <add value="168" key="ISTATEScheduleKey" />
    <add value="0.0" key="ISTATETaxRate" />
    <add value="International" key="INTLScheduleId" />
    <add value="178" key="INTLScheduleKey" />
    <add value=" 0.0" key="INTLTaxRate" />
    <add value="Government" key="GOVScheduleId" />
    <add value="172" key="GOVScheduleKey" />
    <add value="0.0" key="GOVTaxRate" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CATaxRateAPISoap" />
        <binding name="UPSOnlineSoap" />
        <binding name="serviceSoap" />
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.30.39.158/CATaxOnline/CATaxRateAPI.asmx" binding="basicHttpBinding" bindingConfiguration="CATaxRateAPISoap" contract="CASalesTax.CATaxRateAPISoap" name="CATaxRateAPISoap" />
      <endpoint address="http://172.30.39.158/UPSOnlineSL/UPSOnline.asmx" binding="basicHttpBinding" bindingConfiguration="UPSOnlineSoap" contract="UPSOnline.UPSOnlineSoap" name="UPSOnlineSoap" />
      <endpoint address="http://172.30.39.158/WASalesTax/service.asmx" binding="basicHttpBinding" bindingConfiguration="serviceSoap" contract="WASalesTax.serviceSoap" name="serviceSoap" />
      <endpoint address="http://172.30.39.158/cpmail/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="CPMail.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>